ul.partner-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 3rem 2rem;
}

@media screen and (max-width: 768px) {
    ul.partner-list {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 2rem 1rem;
    }
    ul.partner-list {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 2rem 1rem;
    }
    
}
@media screen and (max-width: 340px) {
    ul.partner-list {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        gap: 2rem 1rem;
    }
}
.partner-list li {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 8px;
    cursor: pointer;
    transform-style: preserve-3d;
    overflow: hidden;
}
.partner-list li a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.partner-list li a img{
    width: 100%;
}

.partner-list li .title h2{
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-delay: 100ms;
    transform: scale(0);
    font-size: large;
    text-align: center;
    color: #ffeb3b;
    text-shadow: 1px 0px 1px #000000;
}
.partner-list li .title{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    display: grid;
    place-content: center;
    backdrop-filter: blur(7px);
    opacity: 0;
    transition: all 0.1s;
    transform: translateY(100%) scale(0);
}
@media (hover: hover) {
    .partner-list li:hover .title,
    .partner-list li:focus-visible .title{
        opacity: 1;
        transform: translateY(0) scale(1);
        padding: 0 10px;
    }
    .partner-list li:hover .title h2{
        transform: scale(1);
    }

}